<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/login">
    Username:<input type="text" name="username">
    Password:<input type="text" name="password">
    <input type="submit" name="submit">
    </form>
    <h1><%= message %></h1>
    <h2>Need Account?</h2><a href="/register">Register</a>
    <a href="/">Home</a>
</body>
</html>